<ion-header>
  <ion-toolbar>
    <ion-title>Chatbot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding chatbot">
  <ion-row class="ion-align-items-right ion-justify-content-between">
    <ion-col>
    </ion-col>
    <ion-col size="auto">
      <ion-icon class="home-icon" name="home" (click)="home()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-padding">
      <ion-col size="auto">
        <ion-img class="logo" src="assets/img/logo.png" alt="ABCALL lOGO" />
      </ion-col>
      <ion-col size="auto">
        <h1 class="title">ABCallManager</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let message of messages" [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
    {{ message.text }}
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
      <ion-input [(ngModel)]="newMessage" placeholder="Escribe tu mensaje" data-cy="chatbot-input"></ion-input>
    </ion-col>
    <ion-col size="auto" class="enviar">
      <ion-button (click)="sendMessage()" data-cy="chatbot-submit">Enviar</ion-button>
    </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>